USE [master]
GO
/****** Object:  Database [Tarea5]    Script Date: 11/11/2022 20:44:22 ******/
CREATE DATABASE [Tarea5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tarea5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tarea5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tarea5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tarea5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tarea5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tarea5]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 11/11/2022 20:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Cedula] [varchar](15) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Genero] [char](1) NOT NULL,
	[Fecha] [date] NOT NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbRespuestas]    Script Date: 11/11/2022 20:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbRespuestas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](15) NOT NULL,
	[Respuesta1] [char](1) NULL,
	[Respuesta2] [char](1) NULL,
	[Respuesta3] [char](1) NULL,
 CONSTRAINT [PK_TbRespuestas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personas] ADD  CONSTRAINT [DF_Personas_Fecha]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[TbRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_TbRespuestas_Personas] FOREIGN KEY([Cedula])
REFERENCES [dbo].[Personas] ([Cedula])
GO
ALTER TABLE [dbo].[TbRespuestas] CHECK CONSTRAINT [FK_TbRespuestas_Personas]
GO
USE [master]
GO
